extend layout

block login
  form(method='post', action='/authenticate')
    input(type='text', name='pin', required)
    if error
      p.error= error
    input(type='hidden', name='crumb', value='#{crumb}')
    button(type='submit') log in

block content
  h1 check your phone


  p Enter the 4-digit PIN from your phone to log in.