extend layout

block content
  h1 public chat

  ul#users

  #chat

  form(method='post', id='chat-form')
    input(type='text', id='message', name='message', autocomplete='off' autofocus)
    button(type='submit', id='send-message') Send

block footer

block scripts
  script(type='text/javascript', src='/js/chat.js')
