extend layout

block content
  h1 public chat

  ul#users

  #chat

  form(method='post', id='chat-form')
    input(type='text', id='message', name='message', autocomplete='off')
    button(type='submit', id='send-message') Send