extend layout

block content
  h1 public chat

  #chat

  form(method='post', id='chat-form')
    input(type='text', id='message', name='message', autocomplete='off')
    input(type='hidden', name='crumb', value='#{crumb}')
    button(type='submit', id='send-message') Send