extend layout

block content
  h1 discover

  #posts
    for post in posts
      article
        time
          a(href='/post/post!#{post.value.postid}')= post.value.created
        p.posted
          | posted by&#xa0;
          a(href='/user/#{post.value.uid}')!= post.value.name
        if post.value.reply
          p.reply in reply to:&#xa0;
            != post.value.reply
        pre!= post.value.content

    .pagination
      if next && lastKey
        a(href='/discover?last=#{lastKey}') older

block login
