extend layout

block content
  if session
    h1 dashboard

    article
      p Welcome to the Big Boring System Inc.
      p Feel free to post something you want to share with everyone, chat with the community or browser other posts.
  else
    h1 enter your phone number to sign in