extend layout

mixin rules
  h2 house rules

  ol
    li Abusive/annoying/obnoxious behavior will risk in a ban on your phone number.
    li Offensive and/or inappropriate posts can be deleted by operators.
    li This is a community for people to share interests and have light chat. If you don't like it, go set up your&#xa0;
      a(href='https://github.com/bigboringsystem/bigboringsystem') own
      | .

block content
  if session
    h1 dashboard

    article
      p Welcome to the Big Boring System Inc.
      p Feel free to post something you want to share with everyone, chat with the community or browse other posts.
      p Here's our&#xa0;
        a(href='/privacy') privacy policy
        | .

      h2 Your operators for this system
      for op in ops
        p
          a(href='/user/#{op.uid}')!= op.name

      +rules
  else
    h1 big boring system

    article
      p Welcome to the Big Boring System Inc.
      p This is a text-only online community. Feel free to browse&#xa0;
        a(href='/discover') recent posts
        | .
      p Here's our&#xa0;
        a(href='/privacy') privacy policy
        | .

      +rules
    h2 enter your phone number to sign in
