extend layout

block content
  p this should work on lynx

  section
    ul
      li
        a(href='/profile') your profile
      li
        a(href='/messages') messages
      li
        a(href='/posts') posts
      li
        a(href='/chat') public chat
      li
        a(href='/discover') discover