extend layout

block content
    h1 big boring system

    article
      p We couldn't find you!
      p If you don't already have an account, contact an Op via email to ask about getting added.
      p Feel free to browse&#xa0;
        a(href='/discover') recent posts
        | .
      p Here's our&#xa0;
        a(href='/privacy') privacy policy
        | .

block login
