extend layout

block content
  h1 posts

  form(method='post', action='/post')
    label(for='content') content
      textarea(rows='10', cols='90', name='content')
    if error
      p.error= error
    input(type='hidden', name='crumb', value='#{crumb}')
    button(type='submit') save

  #posts
    for post in posts
      article
        time
          a(href='/post/#{post.key}')= post.value.created
        pre!= post.value.content

block scripts
  script(type='text/javascript', src='/js/post.js')
