extend layout

block content

  h1 Security and Privacy

  article
    p We take your privacy and security seriously. We're going to do everything we can to make sure that your information stays safe and private. The legalese below basically says that we do actually collect your personal information, that we'll be very careful with it and that if somebody tries to mess with us or you, we can do what we need to to stop them and make sure it doesn't happen again.

  h2 PRIVACY POLICY

  article
    p We embrace the privacy guidelines as developed by the Online Privacy Alliance (OPA) and the Federal Trade Commission (FTC), and this privacy policy adheres to the principles addressed in those guidelines. To view these guidelines, please visit the web sites of the corresponding organization,&#xa0; 
      a(href='http://www.privacyalliance.org/resources/ppguidelines.shtml') http://www.privacyalliance.org/resources/ppguidelines.shtml
      |  and&#xa0;
      a(href='http://www.ftc.gov/reports/privacy3/fairinfo.htm') http://www.ftc.gov/reports/privacy3/fairinfo.htm
      | . 

  h3 Collection and use of non-personal information

  article
    p We collect non-personally-identifiable (anonymous) information about you, such as the server your computer is logged into or your browser type. Other examples of non-personally-identifiable information include:
    ol 
      li Your IP address (a unique number that is automatically assigned to your computer whenever you are surfing the Web; many Web servers automatically identify your computer by its IP address).
      li Your "top level" domain (i.e., .com, .net, .edu, etc.).
      li Standard information included with every communication sent on the Internet, such as browser type, operating system, browser language, service provider, and local time.
      li Your phone number

    p We collect data from the Web logs of the servers -- the computers that "serve up" Web pages -- delivering content on BBS. This includes information about what you view and, along with information gathered from our other users, we create "aggregate data" reports that we may disclose to third parties. We may also study aggregate data in order to enhance our existing services or develop new services.

    p We will not disclose any personal information to a third party without your express prior written authorization, as described under 'Collection of personal information' below. We can and will use IP addresses and phone numbers to identify a user when we feel it is necessary to enforce compliance with our or terms of use or to protect our service, site, customers, or others.

  h3 Use of cookies

  article
    p We use cookies on BBS. Cookies are used for record keeping, to track your movements when you visit BBS and to help us determine what type of information to present to you, to collect additional website usage data and to improve our services. The use of cookies is an industry standard - you'll find them used at most websites. The first time you visit BBS, Best Practical assigns you a unique identifier, which is stored in the cookie on your computer.

  h3 Collection of personal information

  article
    p You must register in order to use many features of BBS. We will, and you expressly authorize us to, use the information you provide for the purposes listed in your Registration, including to:

    ol
      li provide and administer BBS.

    p We do not share this information with other users of BBS nor with outside parties. We never use or share the personally identifiable information provided to us in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.

  h3 Third-party services

  article
    p Like many other companies, we use a variety of services hosted by third parties to help provide our Services, and to help us understand the use of our Services, such as Google Analytics. These services may collect information sent by your browser as part of a web page request, such as cookies or your IP request.

    p We do not sell trade or rent your personal information to others. As discussed above under "Collection and use of non-personal information," we may provide aggregate statistics about our users, traffic patterns and related site information to third parties for analysis. In these situations, we would not disclose any information that could be used to personally identify you.

  h3 How You Can Access Or Correct Your Information

  article
    p You can access all your personally identifiable information that we collect online and maintain by logging in and editing your information through our Profile function. We use this procedure to better safeguard your information. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections. You may remove yourself from our database at any time by selecting the Delete function or by contacting us and requesting to be removed.

  h3  Retention of information

  article
    p Any information we collect may be retained for an indeterminate period of time.

  h3 Confidentiality and Security

  article
    p We have implemented generally accepted standards of technology security in order to protect information from loss, misuse and unauthorized access, disclosure, alteration or destruction. Only our operators have access to the information we collect, and these operators are made aware of and required to comply with our privacy policy.

  h3 Links to Other Sites 

  article
    p BBS may provide links to an external Web site. When you click on such a link, you will leave BBS. The privacy policy of the external website will then be in effect, not our policy. We do not control or make an endorsement of any kind regarding the external site or its privacy policy. Our policy does not extend to anything that is inherent in the operation of the Internet, and therefore beyond our control, and is not to be applied in any manner contrary to applicable law or governmental regulation. We do not control cookies from the other sites that you may link to from BBS.

  h3 Children

  article
    p BBS is not a commercial website or an online service directed to children under 13 years of age and our content and other services are not written, intended, or designed for children under the age of 13. To ensure that we stay in compliance with the Children's Online Privacy Protection Act (COPPA), we review the details of COPPA on a regular basis.


  h3 Changes to this privacy policy

  article
    p All versions of this privacy policy are dated with the effective date (the date on which the policy was posted to BBS) in source control. We will only use the information we learn about you in the manner described in the Privacy Policy in effect when the information was collected from you. However, we reserve the right to change the terms of this Privacy Policy at any time by posting revisions to BBS.

  h3 Changes in corporate structure

  article
    p If BBS is sold, merged or otherwise transferred to another entity, the personal information you have provided to BBS may be transferred as part of that transaction. However, we will take steps to assure that any personal information is used in a manner consistent with the Best Practical privacy policy under which it was collected.

  h3 Effect of Legal Obligations upon this Privacy Policy

  article
    p We may disclose user information in special cases when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) our rights or property, other users, or anyone else that could be harmed by such activities. We may disclose user information when we believe in good faith that the law requires it.

  h3 Effect of Privacy Policy

  article
    p This privacy policy is not intended to and does not create any contractual or legal rights in or on behalf of any party. As noted above, we may revise this privacy policy from time to time in our sole discretion.

  h3 Security issues

  article
    p If you are a BBS user and have a concern regarding the security of your account, please contact us through our feedback form or drop us email at bigboringsystem@gmail.com.

  article
    p If you have found a security vulnerability in BBS or have a security incident to report, please email us at bigboringsystem@gmail.com. Please include a detailed summary of the issue you've discovered. It'd be helpful if you can also include an email address where we can reach you if we need more information.

  h2 enter your phone number to sign in
