extend layout

block content
  h1 community listing

  ul.links.links-users.cf
    for user in users
      li(class='#{user.op ? "op" : ""}')
        a(href='/user/#{user.value.uid}')!= user.value.name
