/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f1f1f1;
  font-family: Inconsolata;
  padding: 20px;
}

.back {
  background-color: rgba(34, 240, 253, 0.15);
  border-right: 25px solid rgba(34, 240, 253, 0.25);
  bottom: 0;
  left: 200px;
  position: fixed;
  width: 100px;
  top: 0;
  z-index: 1;
}

.error .back {
  background-color: rgba(34, 240, 253, 0.20);
  border-right: 25px solid rgba(34, 240, 253, 0.28);
}

a {
  color: #216d99;
  text-decoration: none;
}

header, .wrapper, section {
  position: relative;
  z-index: 2;
}

section {
  float: left;
  clear: both;
  width: 100%;
}

header {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.1rem;
  margin-bottom: 20px;
}

label, button {
  display: block;
  margin-top: 10px;
}

button {
  border: 1px solid #ccc;
  font-family: Inconsolata;
  font-size: 1.4rem;
  padding: 3px 10px;
}

input, textarea {
  border: 3px solid #eee;
  display: block;
  clear: both;
  font-family: Inconsolata;
  font-size: 1rem;
  max-width: 450px;
  min-width: 200px;
  margin-top: 3px;
  padding: 3px;
  width: 100%;
}

textarea {
  resize: none;
}

body.error {
  background-color: #fda822;
}

body .error {
  color: #14513f;
  display: inline-block;
  margin-top: 1px;
  padding: 2px 3px;
}

section {
  margin: 20px 0;
}

section li {
  background-color: rgba(255, 255, 255, 0.30);
  float: left;
  margin: 2px 0 2px 5px;
  padding: 3px 8px;
}

section li:first-child {
  margin-left: 0;
}

.wrapper {
  font-size: 1rem;
}