/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f9f9f9;
  font-family: Inconsolata;
  padding: 20px;
}

.back {
  border-left: 1px solid #5bdeff;
  background-color: rgba(255, 255, 255, 0.45);
  border-right: 2px solid rgba(255, 255, 255, 0.95);
  bottom: 0;
  left: 160px;
  position: fixed;
  width: 120px;
  top: 0;
  z-index: 1;
}

.error .back {
  background-color: rgba(1, 1, 1, 0.20);
  border-right: 2px solid rgba(1, 1, 1, 0.28);
}

a {
  background-color: #acfff2;
  color: #111;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #5BDEFF;
}

header, .wrapper, section {
  position: relative;
  z-index: 2;
}

section {
  float: left;
}

header {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

h1, h2 {
  color: #5bdeff;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.9rem;
}

h2 {
  font-size: 1.6rem;
  border-top: 1px dashed #fff;
  margin-top: 40px;
  padding-top: 10px;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 20px;
}

ol li {
  margin-bottom: 10px;
}

.error h2 {
  margin: 20px 0;
}

label, button {
  display: block;
  margin-top: 10px;
}

label {
  margin: 10px 0 5px;
  padding-bottom: 5px;
}

button {
  background-color: #5bdeff;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: Inconsolata;
  font-size: 1.4rem;
  padding: 3px;
  width: 100%;
}

input, textarea {
  border: 1px solid #5bdeff;
  display: block;
  clear: both;
  font-family: Inconsolata;
  font-size: 1rem;
  max-width: 400px;
  min-width: 200px;
  margin-top: 3px;
  padding: 3px;
  width: 100%;
}

form {
  max-width: 408px;
  margin-bottom: 20px;
}

#chat-form {
  bottom: 2px;
  position: fixed;
  max-width: 100%;
  margin: 0;
  left: 290px;
  right: 2px;
}

#chat-form button {
  float: right;
  font-size: 1rem;
  margin: 0 5px 0;
  min-width: 50px;
  width: 13%;
}

#chat-form input {
  float: left;
  margin: 0;
  max-width: 100%;
  padding: 3px;
  width: 82%;
}

.actions input {
  min-width: 112px;
  max-width: 112px;
}

.actions button {
  font-size: 1.1rem;
  width: 120px;
}

.websites {
  margin: 10px 0;
}

.websites li a {
  line-height: 1.4rem;
}

textarea {
  resize: none;
}

body.error {
  background-color: #111;
  color: #666;
}

body .error {
  background-color: #ff3d3d;
  color: #ffdcdc;
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 4px;
  padding: 2px 3px;
}

body.error a {
  color: #eee;
  border-bottom: 1px dashed #ccc;
}

section {
  margin: 20px 0;
}

.content {
  float: left;
  margin-left: 130px;
  margin-top: -20px;
  max-width: 408px;
}

.content article p {
  margin-bottom: 10px;
}

section ul.actions {
  float: left;
  margin-bottom: 20px;
  width: 140px;
}

section ul.actions li {
  background-color: rgba(255, 255, 255, 0.35);
  border-left: 1px solid #5bdeff;
  border-top: 1px solid #5bdeff;
  border-bottom: 1px solid #5bdeff;
  margin-bottom: 2px;
  padding: 0 10px;
  width: 120px;
  height: 29px;
}

section li a {
  font-size: 1.1rem;
  line-height: 1.7rem;
}

#users {
  bottom: 35px;
  left: 160px;
  position: fixed;
  top: 72px;
  width: 121px;
  overflow: auto;
}

#users li {
  border-top: 1px solid #5bdeff;
  border-bottom: 1px solid #5bdeff;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 5px;
  margin-bottom: 2px;
  height: 29px;
}

#users li a {
  display: block;
  font-size: 1rem;
  line-height: 1.7rem;
}

#chat {
  position: fixed;
  background-color: #fff;
  padding: 5px;
  bottom: 35px;
  top: 72px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #5bdeff;
  right: 7px;
  left: 290px;
}

#chat p {
  color: #333;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 3px;
}

#chat .timestamp {
  color: #aaa;
  font-size: 0.9rem;
}

#chat strong {
  font-weight: bold;
}

#auth {
  position: fixed;
  right: 5px;
  z-index: 2;
  top: 2px;
}

.wrapper {
  font-size: 1rem;
  min-width: 280px;
}

#posts {
  width: 100%;
}

article {
  border-top: 1px solid #5bdeff;
  margin: 10px 0;
  padding: 10px 0;
}

article time {
  color: #aaa;
  display: block;
  margin-bottom: 15px;
}

article .posted {
  margin: 10px 0;
}

pre, article p, li {
  white-space: pre-wrap;
  line-height: 1.3rem;
}

.links li {
  margin-bottom: 10px;
}

.links li a {
  line-height: 1.4rem;
}

#user-list {
  clear: both;
}

#user-list .links li {
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
}

.op a:after {
  content: ' *';
}

.ban, .unban {
  background-color: #f00;
  color: #fff;
  font-size: 1.4rem;
  padding: 0 3px;
}

.unban {
  background-color: #333;
}

.delete {
  position: absolute;
  right: -10px;
  top: 40px;
}

.delete button {
  background-color: #f00;
  color: #fff;
  font-size: 1.3rem;
}

.pagination {
  border-top: 1px solid #eee;
  margin: 30px 0;
  padding-top: 10px;
}

.content article p.reply {
  font-style: italic;
  margin-bottom: 0;
}

.delete-account {
  margin-top: 150px;
}

@media only screen and (max-width: 719px) {
  section {
    clear: both;
    width: 100%;
  }

  section ul.actions {
    width: 100%;
    position: absolute;
    left: -19px;
    top: -15px;
  }

  section ul.actions li {
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    width: 65px;
    text-indent: 5px;
    padding: 0 2px;
    text-align: center;
  }

  section ul.actions li a {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .back {
    opacity: 0.3;
  }

  pre, article p, li {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  #users {
    bottom: auto;
    position: relative;
    left: -15px;
    top: -5px;
    height: 50px;
    width: 100%;
    overflow-y: scroll;
  }

  #users li {
    background-color: rgba(255, 255, 255, 0.8);
    clear: none;
    float: left;
    border-left: 1px solid #5bdeff;
    width: 20%;
    height: 22px;
  }

  #users li a {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  #chat {
    left: 5px;
    top: 195px;
  }

  #chat-form {
    left: 5px;
  }

  #chat-form input {
    width: 75%;
  }

  .content {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  #chat .timestamp {
    font-size: 0.8rem;
  }

  input, textarea {
    width: 95%;
  }
}
